<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"><title>Technicians</title>
    {{ include('default/style.html.twig') }}
</head>
<body>
    {{ include('default/header.html.twig') }}
    
    <div style="border-bottom: solid 1px black; margin-bottom: 5px; padding-bottom: 5px">
        <a href={{ url('addtechnician') }}>
            <button>New Technician</button>
        </a>
    </div>
    
    {% if users %}
        <table class="responsive_table">
            <tr>
                <th>ID</th>
                <th>USERNAME</th>
                <th>EDIT</th>
            </tr>
            {% for u in users %}
                <tr>
                    <td>{{u.id}}</td>
                    <td>{{u.name}}</td>                    
                    <td><a href={{ path('edittechnician', {'username': u.name}) }}><button>EDIT</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %} Oops, no technicians found!
    {% endif %}
</body>
</html>