<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"><title>Status Reports</title>
    {{ include('default/style.html.twig') }}
</head>
<body>
    {{ include('default/header.html.twig') }}
    
    <div style="border-bottom: solid 1px black; margin-bottom: 5px; padding-bottom: 5px">
        <form method="post">
            <input type="number" placeholder="Search by Location" name="location_id" value={{ search }} />
            <input type="submit" value="Search" />
        </form>
    </div>
    
    <div style="border-bottom: solid 1px black; margin-bottom: 5px; padding-bottom: 5px">
        <a href={{ url('csv') }}>
            <button class="extra_button">Export as CSV</button>
        </a>
    </div>
    
    {% if statusreports %}
        <table class="responsive_table">
            <tr>
                <th>ID</th>
                <th>LOCATION ID</th>
                <th>STATUS</th>
                <th>DATE</th>
            </tr>
            {% for s in statusreports %}
                <tr>
                    <td>{{s.id}}</td>
                    <td>{{s.location_id}}</td>

                    {% if s.status == 0 %} <td style="color:green">GOOD</td>
                    {% elseif s.status == 1 %} <td style="color:orange">AVARAGE</td>
                    {% elseif s.status == 2 %} <td style="color:red">BAD</td>
                    {% endif %}
                    
                    <td>{{s.date}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %} Oops, no statusreports found!
    {% endif %}
</body>
</html>